{% extends 'base.html' %}
{% block title %}Task Create{% endblock %}
{% block content%}
    <h1>New Task</h1>
    <div class="form">
        <form action="{% url 'task_add' %}" method="post">
            {% csrf_token %}
            <div class="form_row" for="title">
                <lable for="title">Title</lable>
                <input type="text" id="title" name="title">
            </div>
            <div class="form_row">
                <lable for="description">Dscription</lable>
                <textarea name="description" id="description" cols="30" rows="10"></textarea>
            </div>
            <div class="form_row">
                <div class="mb-3 row">
                    <label for="status" class="col-sm-2 col-form-label">Status</label>
                    <div class="col-sm-10">
                        <select id="status" name="status" class="form-select">
                            {% for choice in choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form_row">
                <lable for="completion_date">Date of completion</lable>
                <input type="text" id="completion_date" name="completion_date">
            </div>
            <div class="form_row">
                <input type="submit">
            </div>
        </form>
    </div>
{% endblock %}
